/target
/target/
.classpath
.project
.settings
.settings/
/.settings/
/.settings
settings/
target/
*.log
/tmp/
logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
classpath
/.project
/RUNNING_PID
/.settings
/.target/
/bin/
*.class
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.lock
*.DS_Store
*.swp
*.out
*.bak
.rakeTasks
atlassian-ide-plugin.xml
tmp.*
.buildpath
target/generated-sources
target
.target
/target/generated-sources
.target/generated-sources
reports
/reports
/reports/
